<script lang="ts">
    import { ToastContainer, FlatToast }  from "svelte-toasts";
    import showToast from "$lib/toast";
    /* CONNECTION TO API */
    import { postClassifierUpload } from '$lib/api/api';
    /* COMPONENTS */
    import Navbar from "$lib/Components/Navbar.svelte";

    let file: FileList;
    let dataTable: any;

    let changeFile = () => {
        if(file[0].name.slice(-4) != ".csv") {
            showToast("Error", "The file type must be a .csv", "error")
            return;
        }

        postClassifierUpload(file[0]).then((resp) => {
            dataTable = resp.data["data"]
        }).catch((err) => {
            showToast("Error", "Error loading file", "error")
            console.log(err);
        })
    }
</script>

<Navbar target="exercise_2" />

<main class="lg:px-8 sm:px-6 px-2 mx-auto max-w-7xl mt-10">
    <h1 class="text-3xl font-medium">Exercise 2: <span class="font-bold underline">News classifier</span></h1>
    <h2 class="text-xl font-semibold mt-7">Description:</h2>
    <div class="mt-2">
        <p>Create a news classifier based on data in <a href="/data/news_training_data.csv" class="text-blue-600">news_training_data.csv</a></p>
        <p>As final result we should be abel to load a csv with data and get a table with the classification.</p>
    </div>

    <h2 class="text-xl font-semibold mt-7">File:</h2>
    <button class="contenedor-btn-file mt-2">
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
                <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 408c0 13.3-10.7 24-24 24s-24-10.7-24-24V305.9l-31 31c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l72-72c9.4-9.4 24.6-9.4 33.9 0l72 72c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-31-31V408z"/>
            </svg>
            Upload csv
        </div>
        <label for="btn-file"></label>
        <input type="file" id="btn-file" bind:files={file} on:change={changeFile}>
    </button>

    
    <h2 class="text-xl font-semibold mt-7">Result:</h2>
    <table>
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Source</th>
                <th>Content</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {#if dataTable}
                {#each dataTable as data}
                    <tr>
                        <td class="id">{data.id}</td>
                        <td>{data.source}</td>
                        <td>{data.content}</td>
                        <td>{data.type}</td>
                    </tr>
                {/each}
            {:else}
                    <tr>
                        <td colspan="4" class="!text-center">Upload a .csv file to see data in the table...</td>
                    </tr>
            {/if}
        </tbody>
    </table>
</main>
<ToastContainer let:data={data}>
    <FlatToast {data}  />
</ToastContainer>

<style>
    table {
        width: 100%;
        margin-top: 5px;
    }
    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: start;
    }
    th {
        background-color: #d41976;
        color: #fff;
        border-color: #d41976;
    }

    .id {
        text-align: center;
    }

    .contenedor-btn-file input[type="file"] {
        appearance: none;
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    .contenedor-btn-file {
        display: inline-block;
        position: relative;
        background-color: #d41976;
        color: #fff;
        border: 0;
        padding: 12px 20px;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, .15);
        overflow: hidden;
        transition: ease-out 120ms background-color;
    }
    .contenedor-btn-file:hover {
        background-color: #a5165d;
    }
    .contenedor-btn-file div > svg {
        margin-right: 15px;
        fill: #fff;
    }

    .contenedor-btn-file label {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        left: 0;
        cursor: pointer;
    }
</style>