<script>
    import Navbar from "$lib/Components/Navbar.svelte";
</script>

<Navbar target="home" />

<main class="lg:px-8 sm:px-6 px-2 mx-auto max-w-7xl mt-10">
    <h1 class="text-3xl font-bold">Evaluation for Data Science</h1>
    <h2 class="text-xl font-semibold mt-7">Job description:</h2>
    <div class="space-y-3 mt-2 bg-gray-300 rounded-md p-5">
        <p>We are looking to strengthen our team with a Data Engineer with experience in technologies such as python, pyspark, elasticsearch, SQL.</p>
        <p>Our candidates should have a strong understanding of ETL best practices and experience with microservices.</p>
        <p>Also eperience with rest APIs and docker are valoreted.</p>
    </div>
    <h2 class="text-xl font-semibold mt-7">Evaluation:</h2>
    <div class="space-y-3 mt-2 bg-gray-300 rounded-md p-5">
        <p>The evaluations exercises has 2 parts:</p>
        <ul class="list-disc ml-7">
            <li>ETL geopositional data using echats map</li>
            <li>Classify general news</li>
        </ul>
        <p>For both we expect to be functional and ideally deployed. For this, you must place your code in the right place in the backend and be able to get the final result in the frontend.</p>
    </div>
    <h2 class="text-xl font-semibold mt-7">Steps:</h2>
    <ol class="list-decimal py-8 px-12 mt-4 space-y-2 bg-gray-300 rounded-md">
        <li>
            Clone repository: 
            
            <div class="code py-2">
                <span class="bg-gray-800 rounded-md p-2 text-white text-sm">git clone https://gitlab.com/lucrohatsch/data_science_exercise.git</span>
            </div>
        </li>
        <li>
            Create dev environ in local: 
            
            <div class="code py-2">
                <span class="bg-gray-800 rounded-md p-2 text-white text-sm">make environ</span>
            </div>
        </li>
        <li>
            Build frontend: 
            
            <div class="code py-2">
                <span class="bg-gray-800 rounded-md p-2 text-white text-sm">make build</span>
            </div>
        </li>
        <li>
            Run dev environ: 
            
            <div class="code py-2">
                <span class="bg-gray-800 rounded-md p-2 text-white text-sm">make dev</span>
            </div>
        </li>
    </ol>
</main>

<style>
    .code {
        white-space: nowrap;
        overflow-x: scroll;
    }
</style>
