@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eee;
    font-family: 'Mina', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}