<script lang="ts">
    import { onMount, afterUpdate } from 'svelte'
    import maplibre from 'maplibre-gl';
    import 'maplibre-gl/dist/maplibre-gl.css';
  
    export let dataMap: any;
    let map: any;
    let mapContainer:any;
    $: dataTest = {
        "data": {
            "type": "FeatureCollection",
            "features": []
        },
        "centerMap": {
            "xCoordinate": 0,
            "yCoordinate": 0,
            "zoom": 0
        }
    }
  
    let updateMap = () => {
      dataTest = dataMap ? dataMap : dataTest;
      const urlStyleMap = 'https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json'; 

      map = new maplibre.Map({
        container: mapContainer,
        style: urlStyleMap,
        center: [dataTest["centerMap"]["xCoordinate"], dataTest["centerMap"]["yCoordinate"]],
        zoom: dataTest["centerMap"]["zoom"]
      });
  
      map.addControl(new maplibre.NavigationControl(), 'top-right');
  
      // Listen for the style.load event to ensure the style has finished loading
      map.on('style.load', () => {
        // Create the GeoJSON source and add it to the map
        map.addSource('heatmap-source', {
          type: 'geojson',
          data: dataTest["data"],
        });
  
        // Add the heatmap layer to the map
        map.addLayer({
          id: 'heatmap-layer',
          type: 'heatmap',
          source: 'heatmap-source',
          paint: {
            'heatmap-weight': ['get', 'intensity'],
            'heatmap-intensity': 1,
            'heatmap-color': [
            'interpolate',
            ['linear'],
            ['heatmap-density'],
            0, 'rgba(255, 0, 255, 0)',   // Transparent
            0.2, 'rgb(255, 0, 40)',     // Light blue
            0.4, 'rgb(255, 0, 110)',   // Medium blue
            0.6, 'rgb(255, 0, 140)',   // Darker blue
            1, 'rgb(255, 0, 200)',     // Bright blue
          ],
            'heatmap-radius': 20, // Adjust the radius as needed
            'heatmap-opacity': 0.8,
          },
        });
      });
    }
  
    afterUpdate(() => {
      map.remove();
      updateMap();
    })
    
    onMount(() => {
      updateMap();
    });
</script>
  
<div class="map-wrap">
    <div class="map" id="map" bind:this={mapContainer}></div>
</div>
  
<style>
  .map-wrap {
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: 40px;
  }
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
</style>
  