<script lang="ts">
    export let target: string;

    const currentClass = "bg-pink-rd text-white rounded-md px-3 py-2 text-sm font-medium";
    const defaultClass = "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium";
    const currentClassMobile = "bg-pink-rd text-white block rounded-md px-3 py-2 text-base font-medium";
    const defaultClassMobile = "text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium";
</script>

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 sm:py-3 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
              <img class="h-16 w-auto" src="/RD-logo-full.png" alt="Reputación Digital Logo">
            </div>
        </div>
        <div class="hidden sm:ml-6 sm:block sm:flex">
            <div class="flex space-x-4 items-center">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class={target == "home" ? currentClass : defaultClass} aria-current="page">Home</a>
              <a href="/exercise_1" class={target == "exercise_1" ? currentClass : defaultClass}>Exercise 1</a>
              <a href="/exercise_2" class={target == "exercise_2" ? currentClass : defaultClass}>Exercise 2</a>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/" class={target == "home" ? currentClassMobile : defaultClassMobile} aria-current="page">Home</a>
        <a href="/exercise_1" class={target == "exercise_1" ? currentClassMobile : defaultClassMobile}>Exercise 1</a>
        <a href="/exercise_2" class={target == "exercise_2" ? currentClassMobile : defaultClassMobile}>Exercise 2</a>
      </div>
    </div>
</nav>


<style>
  .bg-pink-rd {
    background-color: #d41976;
    transition: .3s all;
  }
  .bg-pink-rd:hover {
    background-color: #a5165d;
  }
</style>